.sidebar {
  list-style-type: none;
  font-size: 12px;
  text-align: left;
}

.sidebar-headings {
text-decoration: underline;
}

.panel-title {
  text-align: center;
}

.main-body {
  margin-top: 50px;
  border: 5px;
  text-align: justify;
}

.page-title {
  text-align: center;
}

.box-1 {
  margin-top: 50px;
}
